* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #5169a7;
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 0;
    list-style: none;
    li:nth-child(2) {
      font-weight: bold;
    }
  }
}
section {
  background-color: #d09d72;
  display: flex;
  justify-content: space-between;
}

main {
  background-color: #d1bead;
  ul {
    text-align: left;
    list-style: none;
    li:hover {
      color: orange;
    }
    li:first-child,
    li:nth-child(3) {
      text-decoration: line-through;
    }
  }
}
div {
  text-align: right;
  right: 0;
  position: relative;
  margin-top: 50px;
  right: 20px;
  top: -145px;
}
li {
  margin: 20px;
  position: relative;
  right: 50px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #5169a7;
}
header > h1 {
  font-size: 1.5rem;
  font-weight: 900;
  position: relative;
  left: 20px;
}
header > ul {
  position: relative;
  left: 60px;
}
